﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="material-icons">&#xE5CD;</i>
            </button>
            <h4 class="modal-title">Artwork</h4>

        </div>
        <div class="modal-body">
            <img class="img-responsive" src="img/portfolio/portfolio3.jpg" alt="image" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod tempor incididunt ut labore.
            </p>
        </div>
    </div>
</div>