﻿/*body animation*/
@-webkit-keyframes body-animation {
  0% {
    box-shadow: inset 0 0 0 0 #0b97ed;
  }
  100% {
    box-shadow: inset 0 330px 0 0 #0b97ed;
  }
}
@-moz-keyframes body-animation {
  0% {
    box-shadow: inset 0 0 0 0 #0b97ed;
  }
  100% {
    box-shadow: inset 0 330px 0 0 #0b97ed;
  }
}
@-o-keyframes body-animation {
  0% {
    box-shadow: inset 0 0 0 0 #0b97ed;
  }
  100% {
    box-shadow: inset 0 330px 0 0 #0b97ed;
  }
}
@keyframes body-animation {
  0% {
    box-shadow: inset 0 0 0 0 #0b97ed;
  }
  100% {
    box-shadow: inset 0 330px 0 0 #0b97ed;
  }
}
/*Avatar animation*/
@-webkit-keyframes avatar-animation {
  0% {
    width: 0;
    height: 0;
    margin: 29px 0 0 -15px;
  }
  100% {
    height: 64px;
    width: 64px;
    margin: 29px 0 0 -15px;
  }
}
@-moz-keyframes avatar-animation {
  0% {
    width: 0;
    height: 0;
    margin: 29px 0 0 -15px;
  }
  100% {
    height: 64px;
    width: 64px;
    margin: 29px 0 0 -15px;
  }
}
@-o-keyframes avatar-animation {
  0% {
    width: 0;
    height: 0;
    margin: 29px 0 0 -15px;
  }
  100% {
    height: 64px;
    width: 64px;
    margin: 29px 0 0 -15px;
  }
}
@keyframes avatar-animation {
  0% {
    width: 0;
    height: 0;
    margin: 18px 0 0 -15px;
  }
  100% {
    height: 60px;
    width: 60px;
    margin: 18px 0 0 -15px;
  }
}
/*Small circle animation*/
@-webkit-keyframes circles-animation1 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 1200px;
    height: 1200px;
    top: -555px;
    left: -570px;
  }
}
@-moz-keyframes circles-animation1 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 1200px;
    height: 1200px;
    top: -555px;
    left: -570px;
  }
}
@-o-keyframes circles-animation1 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 1200px;
    height: 1200px;
    top: -555px;
    left: -570px;
  }
}
@keyframes circles-animation1 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 1200px;
    height: 1200px;
    top: -555px;
    left: -570px;
  }
}
/*Mid circle animation*/
@-webkit-keyframes circles-animation2 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 1600px;
    width: 1600px;
    top: -800px;
    left: -800px;
  }
}
@-moz-keyframes circles-animation2 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 1600px;
    width: 1600px;
    top: -800px;
    left: -800px;
  }
}
@-o-keyframes circles-animation2 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 1600px;
    width: 1600px;
    top: -800px;
    left: -800px;
  }
}
@keyframes circles-animation2 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 1600px;
    width: 1600px;
    top: -800px;
    left: -800px;
  }
}
/*Big circle animation*/
@-webkit-keyframes circles-animation3 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 2000px;
    width: 2000px;
    top: -1000px;
    left: -1000px;
  }
}
@-moz-keyframes circles-animation3 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 2000px;
    width: 2000px;
    top: -1000px;
    left: -1000px;
  }
}
@-o-keyframes circles-animation3 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 2000px;
    width: 2000px;
    top: -1000px;
    left: -1000px;
  }
}
@keyframes circles-animation3 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 2000px;
    width: 2000px;
    top: -1000px;
    left: -1000px;
  }
}
/*H1 User-name animation*/
@-webkit-keyframes user-name-animation {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-moz-keyframes user-name-animation {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-o-keyframes user-name-animation {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes user-name-animation {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
/*H2 User-occupation animation*/
@-webkit-keyframes occupation-animation {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-moz-keyframes occupation-animation {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-o-keyframes occupation-animation {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes occupation-animation {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
/*tabs-with-content animation*/
@-webkit-keyframes tabs-with-content-animation {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@-moz-keyframes tabs-with-content-animation {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@-o-keyframes tabs-with-content-animation {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes tabs-with-content-animation {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
/*letter change-page-animation*/
@-webkit-keyframes letter-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes letter-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes letter-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes letter-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*soc-buttons animation*/
@-webkit-keyframes soc-animation {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes soc-animation {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes soc-animation {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes soc-animation {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=animation.css.map */