﻿.contacts-page form {
  margin-top: 20px;
}
.contacts-page li {
  line-height: 25px;
}
.contacts-page .additional-info {
  color: #d8d8d8;
}
.map-row {
  margin: 10px -15px 5px;
  max-height: 0;
  overflow: hidden;
}
.map-row #map-canvas {
  width: 100%;
  height: 300px;
}
.map-row.show {
  max-height: 300px;
}
/*# sourceMappingURL=contacts.css.map */