﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
html,
body {
  min-height: 100%;
}
html {
  background-size: cover;
  background-repeat: no-repeat;
}
body.original-theme {
  height: 100%;
  min-height: 100vh;
  background-color: #E8E9ED;
  background-size: cover;
}
body.js-start-animation {
  -webkit-animation: body-animation 1.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: body-animation 1.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: body-animation 1.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: body-animation 1.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
body {
  font-family: 'Open Sans', sans-serif;
}
body .container > .row {
  position: relative;
}
body .circles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 18px 0 0 5px;
  overflow: hidden;
  width: 100%;
}
body .circles .avatar-circle1,
body .circles .avatar-circle2,
body .circles .avatar-circle3 {
  position: absolute;
  content: " ";
  display: block;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.06);
  width: 0;
  height: 0;
  top: 29px;
  left: 15px;
}
body .circles .avatar-circle1.js-start-animation,
body .circles .avatar-circle2.js-start-animation,
body .circles .avatar-circle3.js-start-animation {
  -webkit-animation: 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
body .circles .avatar-circle1.js-start-animation {
  -moz-animation-name: circles-animation1;
  -o-animation-name: circles-animation1;
  -webkit-animation-name: circles-animation1;
  animation-name: circles-animation1;
}
body .circles .avatar-circle2.js-start-animation {
  -moz-animation-name: circles-animation2;
  -o-animation-name: circles-animation2;
  -webkit-animation-name: circles-animation2;
  animation-name: circles-animation2;
}
body .circles .avatar-circle3.js-start-animation {
  -moz-animation-name: circles-animation3;
  -o-animation-name: circles-animation3;
  -webkit-animation-name: circles-animation3;
  animation-name: circles-animation3;
}
body .main-content-block .header {
  color: #fff;
}
body .main-content-block .header .small-user-avatar {
  border-radius: 90px;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 20px 15px;
  width: 0;
  height: 0;
}
body .main-content-block .header .small-user-avatar img {
  border-radius: 90px;
}
body .main-content-block .header .small-user-avatar.js-start-animation {
  -webkit-animation: avatar-animation 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: avatar-animation 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: avatar-animation 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: avatar-animation 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
body .main-content-block .header .user-main-info {
  margin-left: -65px;
  padding-left: 25px;
}
body .main-content-block .header .user-main-info .first_letter {
  position: absolute;
  left: -73px;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.1);
  line-height: 92px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-weight: 600;
  opacity: 0;
  z-index: -1;
}
body .main-content-block .header .user-main-info .first_letter.js-start-animation {
  -webkit-animation: letter-animation 2.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: letter-animation 2.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: letter-animation 2.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: letter-animation 2.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
body .main-content-block .header .user-main-info h1,
body .main-content-block .header .user-main-info h2 {
  position: relative;
}
body .main-content-block .header .user-main-info .user-name-block,
body .main-content-block .header .user-main-info .user-occupation-block {
  overflow: hidden;
}
body .main-content-block .header .user-main-info .user-name-block h1 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 8px;
  margin-left: -100%;
}
body .main-content-block .header .user-main-info .user-name-block h1 span {
  font-weight: 400;
}
body .main-content-block .header .user-main-info .user-name-block h1.js-start-animation {
  -webkit-animation: user-name-animation 0.9s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: user-name-animation 0.9s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: user-name-animation 0.9s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: user-name-animation 0.9s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
body .main-content-block .header .user-main-info .user-occupation-block {
  margin-top: -15px;
  padding-top: 15px;
}
body .main-content-block .header .user-main-info .user-occupation-block h2 {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 20px;
  top: -50px;
}
body .main-content-block .header .user-main-info .user-occupation-block h2.js-start-animation {
  -webkit-animation: occupation-animation 1.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: occupation-animation 1.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: occupation-animation 1.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: occupation-animation 1.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
body .main-content-block .header .social-buttons .btn {
  margin: 35px 0 0 18px;
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding-left: 7px;
  font-size: 13px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -moz-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
body .main-content-block .header .social-buttons .btn.js-start-animation {
  -webkit-animation: soc-animation 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: soc-animation 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: soc-animation 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: soc-animation 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
body .main-content-block .header .social-buttons .btn:hover {
  color: #0b97ed;
  background-color: #fff;
}
body .main-content-block .tabs-with-content {
  position: relative;
  bottom: -50px;
  opacity: 0;
}
body .main-content-block .tabs-with-content .nav-tabs {
  position: relative;
  background: #0b97ed;
  border-bottom: none;
  padding: 0;
  overflow: hidden;
}
body .main-content-block .tabs-with-content .nav-tabs > li > a,
body .main-content-block .tabs-with-content .nav-tabs > li.active > a,
body .main-content-block .tabs-with-content .nav-tabs > li > a:focus,
body .main-content-block .tabs-with-content .nav-tabs > li > a:hover,
body .main-content-block .tabs-with-content .nav-tabs > li.active > a:hover {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  padding: 15px 15px 12px;
  -moz-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
body .main-content-block .tabs-with-content .nav-tabs > li > a:hover {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.4);
}
body .main-content-block .tabs-with-content .nav-tabs > li.active > a,
body .main-content-block .tabs-with-content .nav-tabs > li.active > a:hover,
body .main-content-block .tabs-with-content .nav-tabs > li.active > a:focus {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid;
}
body .main-content-block .tabs-with-content .tab-content {
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  line-height: 150%;
  padding: 27px 15px 5px;
  background-color: #ffffff;
}
body .main-content-block .tabs-with-content .tab-content .content-heading {
  font-size: 14px;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #474755;
}
body .main-content-block .tabs-with-content .tab-content .content-heading span {
  color: #d0d0d0;
}
body .main-content-block .tabs-with-content .tab-content .content-heading i {
  color: #0b97ed;
  position: relative;
  bottom: -5px;
}
body .main-content-block .tabs-with-content .tab-content .btn-print {
  margin-bottom: 10px;
}
body .main-content-block .tabs-with-content .tab-content p a {
  color: #f6ab13;
}
body .main-content-block .tabs-with-content .tab-content li i {
  color: #0b97ed;
  position: relative;
  top: 4px;
  margin: 0 5px 0 3px;
}
body .main-content-block .tabs-with-content .tab-content li .socicon {
  font-size: 16px;
  margin-right: 7px;
}
body .main-content-block .tabs-with-content .tab-content .carousel-control {
  height: 34px;
  width: 34px;
  border-radius: 17px;
  background: #fff;
  border: 1px solid #afbcc3;
  opacity: 1;
  font-size: 12px;
  line-height: 31px;
  text-shadow: none;
  color: #b0bdc4;
  -moz-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
body .main-content-block .tabs-with-content .tab-content .carousel-control:hover,
body .main-content-block .tabs-with-content .tab-content .carousel-control:active {
  background: #0b97ed;
  border: 1px solid #0b97ed;
  color: #fff;
}
body .main-content-block .tabs-with-content .tab-content .left.carousel-control {
  height: 19px;
  width: 19px;
  border-radius: 9px;
  right: 27px;
  left: auto;
  top: 7px;
  z-index: 10;
  line-height: 17px;
}
body .main-content-block .tabs-with-content .tab-content .carousel-indicators {
  right: 50px;
  top: 3px;
  bottom: auto;
  left: auto;
  width: auto;
}
body .main-content-block .tabs-with-content .tab-content .carousel-indicators li {
  border: 1px solid #adbac2;
  width: 5px;
  height: 5px;
}
body .main-content-block .tabs-with-content .tab-content .carousel-indicators .active {
  border: 1px solid #0b97ed;
  width: 7px;
  height: 7px;
}
body .main-content-block .tabs-with-content .progress {
  border: 2px solid #f4f4f4;
  border-radius: 10px;
  background-color: transparent;
  padding: 1px;
  box-shadow: none;
  margin-bottom: 10px;
}
body .main-content-block .tabs-with-content .progress .progress-bar {
  border-radius: 10px;
  font-size: 11px;
  line-height: 13px;
  background: #0b97ed;
  box-shadow: none;
}
body .main-content-block .tabs-with-content label {
  font-size: 12px;
  color: #61636d;
  margin: 0 0 0 0;
  font-weight: 600;
}
body .main-content-block .tabs-with-content h1,
body .main-content-block .tabs-with-content h2,
body .main-content-block .tabs-with-content h3,
body .main-content-block .tabs-with-content h4,
body .main-content-block .tabs-with-content h5,
body .main-content-block .tabs-with-content h6 {
  line-height: 150%;
}
body .main-content-block .tabs-with-content.js-start-animation {
  -webkit-animation: tabs-with-content-animation 1.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: tabs-with-content-animation 1.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: tabs-with-content-animation 1.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: tabs-with-content-animation 1.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
body .main-content-block .tab-content.js-change-animation {
  -webkit-animation: change-page-animation 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-animation: change-page-animation 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  -o-animation: change-page-animation 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  animation: change-page-animation 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
body *::selection {
  background: #ed8e72;
  color: #fff;
  text-shadow: none;
}
body *::-moz-selection {
  background: #ed8e72;
  color: #fff;
  text-shadow: none;
}
body footer {
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  margin-top: 10px;
}
/*body animation*/
@-webkit-keyframes body-animation {
  0% {
    box-shadow: inset 0 0 0 0 #0b97ed;
  }
  100% {
    box-shadow: inset 0 330px 0 0 #0b97ed;
  }
}
@-moz-keyframes body-animation {
  0% {
    box-shadow: inset 0 0 0 0 #0b97ed;
  }
  100% {
    box-shadow: inset 0 330px 0 0 #0b97ed;
  }
}
@-o-keyframes body-animation {
  0% {
    box-shadow: inset 0 0 0 0 #0b97ed;
  }
  100% {
    box-shadow: inset 0 330px 0 0 #0b97ed;
  }
}
@keyframes body-animation {
  0% {
    box-shadow: inset 0 0 0 0 #0b97ed;
  }
  100% {
    box-shadow: inset 0 330px 0 0 #0b97ed;
  }
}
/*Avatar animation*/
@-webkit-keyframes avatar-animation {
  0% {
    width: 0;
    height: 0;
    margin: 29px 0 0 -15px;
  }
  100% {
    height: 64px;
    width: 64px;
    margin: 29px 0 0 -15px;
  }
}
@-moz-keyframes avatar-animation {
  0% {
    width: 0;
    height: 0;
    margin: 29px 0 0 -15px;
  }
  100% {
    height: 64px;
    width: 64px;
    margin: 29px 0 0 -15px;
  }
}
@-o-keyframes avatar-animation {
  0% {
    width: 0;
    height: 0;
    margin: 29px 0 0 -15px;
  }
  100% {
    height: 64px;
    width: 64px;
    margin: 29px 0 0 -15px;
  }
}
@keyframes avatar-animation {
  0% {
    width: 0;
    height: 0;
    margin: 18px 0 0 -15px;
  }
  100% {
    height: 60px;
    width: 60px;
    margin: 18px 0 0 -15px;
  }
}
/*Small circle animation*/
@-webkit-keyframes circles-animation1 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 1200px;
    height: 1200px;
    top: -555px;
    left: -570px;
  }
}
@-moz-keyframes circles-animation1 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 1200px;
    height: 1200px;
    top: -555px;
    left: -570px;
  }
}
@-o-keyframes circles-animation1 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 1200px;
    height: 1200px;
    top: -555px;
    left: -570px;
  }
}
@keyframes circles-animation1 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 1200px;
    height: 1200px;
    top: -555px;
    left: -570px;
  }
}
/*Mid circle animation*/
@-webkit-keyframes circles-animation2 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 1600px;
    width: 1600px;
    top: -800px;
    left: -800px;
  }
}
@-moz-keyframes circles-animation2 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 1600px;
    width: 1600px;
    top: -800px;
    left: -800px;
  }
}
@-o-keyframes circles-animation2 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 1600px;
    width: 1600px;
    top: -800px;
    left: -800px;
  }
}
@keyframes circles-animation2 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 1600px;
    width: 1600px;
    top: -800px;
    left: -800px;
  }
}
/*Big circle animation*/
@-webkit-keyframes circles-animation3 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 2000px;
    width: 2000px;
    top: -1000px;
    left: -1000px;
  }
}
@-moz-keyframes circles-animation3 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 2000px;
    width: 2000px;
    top: -1000px;
    left: -1000px;
  }
}
@-o-keyframes circles-animation3 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 2000px;
    width: 2000px;
    top: -1000px;
    left: -1000px;
  }
}
@keyframes circles-animation3 {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    height: 2000px;
    width: 2000px;
    top: -1000px;
    left: -1000px;
  }
}
/*H1 User-name animation*/
@-webkit-keyframes user-name-animation {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-moz-keyframes user-name-animation {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-o-keyframes user-name-animation {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes user-name-animation {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
/*H2 User-occupation animation*/
@-webkit-keyframes occupation-animation {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-moz-keyframes occupation-animation {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-o-keyframes occupation-animation {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes occupation-animation {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
/*tabs-with-content animation*/
@-webkit-keyframes tabs-with-content-animation {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@-moz-keyframes tabs-with-content-animation {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@-o-keyframes tabs-with-content-animation {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes tabs-with-content-animation {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
/*letter change-page-animation*/
@-webkit-keyframes letter-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes letter-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes letter-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes letter-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*soc-buttons animation*/
@-webkit-keyframes soc-animation {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes soc-animation {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes soc-animation {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes soc-animation {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
input:focus,
button:focus {
  outline: none !important;
}
.btn {
  border: none;
}
.tabs-with-content .btn {
  padding: 4px 12px;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 25px;
}
.tabs-with-content .btn i {
  top: 4px;
  margin-right: 2px;
  position: relative;
}
.tabs-with-content .btn-primary {
  color: #fff;
  background: #0b97ed;
}
input:not([type='checkbox']),
input:not([type='radio']) {
  height: 29px;
}
input:not([type='checkbox']),
input:not([type='radio']),
textarea.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: none;
  margin-bottom: 10px;
  -moz-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  max-width: 100%;
  font-size: 13px;
}
input:not([type='checkbox']):hover,
input:not([type='radio']):hover,
textarea.form-control:hover {
  border-bottom: 1px solid #808080;
}
input:not([type='checkbox']):focus,
input:not([type='radio']):focus,
textarea.form-control:focus {
  border-bottom: 1px solid #f6ab13;
  box-shadow: none;
}
textarea.form-control {
  min-height: 90px;
}
.portfolio-page .item {
  min-width: 100%;
  position: relative;
  margin: 15px 0;
  overflow: hidden;
  height: 180px;
}
.portfolio-page .item img {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
.portfolio-page .item .name,
.portfolio-page .item .description {
  position: absolute;
  min-width: 100%;
}
.portfolio-page .item .name {
  background: #0b97ed;
  min-height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
  color: #fff;
  font-weight: 600;
  top: -100%;
  -moz-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.portfolio-page .item .description {
  background: rgba(255, 255, 255, 0.95);
  padding: 50px 10px 0;
  min-height: 100%;
  top: 150%;
  -moz-transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
}
.portfolio-page .item:hover .name {
  top: 0;
}
.portfolio-page .item:hover .description {
  top: 0;
}
.contacts-page form {
  margin-top: 20px;
}
.contacts-page li {
  line-height: 25px;
}
.contacts-page .additional-info {
  color: #d8d8d8;
}
.map-row {
  margin: 10px -15px 5px;
  max-height: 0;
  overflow: hidden;
}
.map-row #map-canvas {
  width: 100%;
  height: 300px;
}
.map-row.show {
  max-height: 300px;
}
.modal-content {
  border-radius: 0;
}
.modal-content .modal-header {
  border-radius: 0;
  background: #0b97ed;
  color: #fff;
}
.modal-content .modal-header .close {
  opacity: 1;
  color: #fff;
  text-shadow: none;
}
.modal-content .modal-body {
  margin: -1px 0 0;
  padding: 0;
}
.modal-content .modal-footer {
  padding: 0;
}
.modal-content .modal-footer .btn {
  border-radius: 0;
}
.modal-content p {
  padding: 15px 15px;
}
@media print {
  body {
    background: none;
  }
  .footer,
  btn-print,
  .nav-tabs,
  .carousel-control,
  .carousel-indicators,
  .first_letter,
  .social-buttons {
    display: none;
  }
  .small-user-avatar {
    margin: 0;
  }
  .carousel-inner .item {
    display: block;
  }
  .carousel-inner .item img {
    width: 30%;
    float: left;
  }
  .progress .progress-bar {
    background: #000;
    color: #fff;
  }
}
@media only screen and (max-width: 1200px) {
  .small-avatar-block {
    padding-left: 40px ;
  }
}
@media only screen and (max-width: 992px) {
  .social-buttons {
    text-align: left;
  }
  .social-buttons .btn {
    float: none !important;
    margin: 5px 10px 20px !important;
  }
}
@media only screen and (max-width: 768px) {
  .small-avatar-block,
  .first_letter {
    display: none;
  }
  .user-main-info {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
  }
  .social-buttons {
    text-align: center;
  }
}
@media only screen and (max-width: 489px) {
  .nav-tabs li {
    width: 100%;
  }
  .carousel-indicators,
  .carousel-control {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .social-buttons {
    text-align: right;
  }
  .social-buttons .btn {
    margin: 35px 0 15px 10px !important;
  }
  .logo-col {
    padding-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    padding: 0;
  }
}
@font-face {
  font-family: 'socicon';
  src: url('../fonts/socicon/socicon.eot');
  src: url('../fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'), url('../fonts/socicon/socicon.woff') format('woff'), url('../fonts/socicon/socicon.woff2') format('woff2'), url('../fonts/socicon/socicon.ttf') format('truetype'), url('../fonts/socicon/socicon.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}
.socicon {
  font-family: 'socicon' !important;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mdi/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/mdi/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/mdi/MaterialIcons-Regular.woff) format('woff'), url(../fonts/mdi/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.material-icons.md-10 {
  font-size: 10px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
/*# sourceMappingURL=global.css.map */