﻿@main-color: #0b97ed;
@additional-color: #f6ab13;
html, body {
    min-height: 100%;
}
html {
    background-size: cover;
    background-repeat: no-repeat;
}
body.original-theme {
    height: 100%;
    min-height: 100vh;
    background-color: #E8E9ED;
    background-size: cover;
    
}

        body.js-start-animation {
            -webkit-animation: body-animation 1.4s cubic-bezier(.55,0,.1,1) forwards;
            -moz-animation: body-animation 1.4s cubic-bezier(.55,0,.1,1) forwards;
            -o-animation: body-animation 1.4s cubic-bezier(.55,0,.1,1) forwards;
            animation: body-animation 1.4s cubic-bezier(.55,0,.1,1) forwards;
        }
body {
    font-family: 'Open Sans', sans-serif;
    .container > .row {
        position: relative;
    }
    .circles {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 18px 0 0 5px;
        overflow: hidden;
        width: 100%;
        .avatar-circle1, .avatar-circle2, .avatar-circle3 {
            position: absolute;
            content: " ";
            display: block;
            border-radius: 1000px;
            background: rgba(255,255,255, 0.06);
            width: 0;
            height: 0;
            top: 29px;
            left: 15px;
        }
        .avatar-circle1.js-start-animation, .avatar-circle2.js-start-animation, .avatar-circle3.js-start-animation {
            -webkit-animation: 0.7s cubic-bezier(.55,0,.1,1) forwards;
            -moz-animation: 0.7s cubic-bezier(.55,0,.1,1) forwards;
            -o-animation: 0.7s cubic-bezier(.55,0,.1,1) forwards;
            animation: 0.7s cubic-bezier(.55,0,.1,1) forwards;
        }
        .avatar-circle1.js-start-animation {
            -moz-animation-name: circles-animation1;
            -o-animation-name: circles-animation1;
            -webkit-animation-name: circles-animation1;
            animation-name: circles-animation1;
        }
        .avatar-circle2.js-start-animation {
            -moz-animation-name: circles-animation2;
            -o-animation-name: circles-animation2;
            -webkit-animation-name: circles-animation2;
            animation-name: circles-animation2;
        }
        .avatar-circle3.js-start-animation {
            -moz-animation-name: circles-animation3;
            -o-animation-name: circles-animation3;
            -webkit-animation-name: circles-animation3;
            animation-name: circles-animation3;
        }
    }
    .main-content-block {
        .header {
            color: #fff;

            .small-user-avatar {
                border-radius: 90px;
                background-color: transparent;
                border: 0;
                padding: 0;
                margin: 20px 15px;
                width: 0;
                height: 0;

                img {
                    border-radius: 90px;
                }
            }
            .small-user-avatar.js-start-animation {
                -webkit-animation: avatar-animation .5s cubic-bezier(.55,0,.1,1) forwards;
                -moz-animation: avatar-animation .5s cubic-bezier(.55,0,.1,1) forwards;
                -o-animation: avatar-animation .5s cubic-bezier(.55,0,.1,1) forwards;
                animation: avatar-animation .5s cubic-bezier(.55,0,.1,1) forwards;
            }
            .user-main-info {
                margin-left: -65px;
                padding-left: 25px;
                .first_letter {
                    position: absolute;
                    left: -73px;
                    font-size: 120px;
                    color: rgba(255, 255, 255, 0.1);
                    line-height: 92px;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                    font-weight: 600;
                    opacity: 0;
                    z-index: -1;
                }
                .first_letter.js-start-animation {
                    -webkit-animation: letter-animation 2.5s cubic-bezier(.55,0,.1,1) forwards;
                    -moz-animation: letter-animation 2.5s cubic-bezier(.55,0,.1,1) forwards;
                    -o-animation: letter-animation 2.5s cubic-bezier(.55,0,.1,1) forwards;
                    animation: letter-animation 2.5s cubic-bezier(.55,0,.1,1) forwards;
                }
                h1, h2 {
                    position: relative;
                }
                .user-name-block, .user-occupation-block {
                    overflow: hidden;
                }
                .user-name-block {
                    h1 {
                        font-size: 22px;
                        font-weight: 700;
                        margin-top: 35px;
                        margin-bottom: 8px;
                        margin-left: -100%;

                        span {
                            font-weight: 400;
                        }
                    }
                    h1.js-start-animation {
                        -webkit-animation: user-name-animation .9s cubic-bezier(.55,0,.1,1) forwards;
                        -moz-animation: user-name-animation .9s cubic-bezier(.55,0,.1,1) forwards;
                        -o-animation: user-name-animation .9s cubic-bezier(.55,0,.1,1) forwards;
                        animation: user-name-animation .9s cubic-bezier(.55,0,.1,1) forwards;
                    }
                }
                .user-occupation-block {
                    margin-top: -15px;
                    padding-top: 15px;
                    h2 {
                        font-size: 12px;
                        margin-top: 0;
                        margin-bottom: 20px;
                        top: -50px;
                    }
                    h2.js-start-animation {
                        -webkit-animation: occupation-animation 1.7s cubic-bezier(.55,0,.1,1) forwards;
                        -moz-animation: occupation-animation 1.7s cubic-bezier(.55,0,.1,1) forwards;
                        -o-animation: occupation-animation 1.7s cubic-bezier(.55,0,.1,1) forwards;
                        animation: occupation-animation 1.7s cubic-bezier(.55,0,.1,1) forwards;
                    }
                }
            }
            .social-buttons {
                .btn {
                    margin: 35px 0 0 18px;
                    height: 28px;
                    width: 28px;
                    border-radius: 14px;
                    background-color: rgba(255,255,255, 0.1);
                    color: #fff;
                    padding-left: 7px;
                    font-size: 13px;
                    box-shadow: 0 0px 0px rgba(0,0,0, 0.0);
                    -moz-transition: all .2s cubic-bezier(.55,0,.1,1);
                    -o-transition: all .2s cubic-bezier(.55,0,.1,1);
                    -webkit-transition: all .2s cubic-bezier(.55,0,.1,1);
                    transition: all .2s cubic-bezier(.55,0,.1,1);
                    -moz-transform: scale(0.0);
                    -ms-transform: scale(0.0);
                    -o-transform: scale(0.0);
                    -webkit-transform: scale(0.0);
                    transform: scale(0.0);
                }
                .btn.js-start-animation {
                    -webkit-animation: soc-animation 0.4s cubic-bezier(.55,0,.1,1) forwards;
                    -moz-animation: soc-animation 0.4s cubic-bezier(.55,0,.1,1) forwards;
                    -o-animation: soc-animation 0.4s cubic-bezier(.55,0,.1,1) forwards;
                    animation: soc-animation 0.4s cubic-bezier(.55,0,.1,1) forwards;
                }
                .btn:hover {
                    color: @main-color;
                    background-color: #fff;
                }
            }
        }
        .tabs-with-content {
            position: relative;
            bottom: -50px;
            opacity: 0;
            .nav-tabs {
                position: relative;
                background: @main-color;
                border-bottom: none;
                padding: 0;
                overflow: hidden;

                > li > a, > li.active > a, > li > a:focus, > li > a:hover, > li.active > a:hover {
                    background-color: transparent;
                    border: none;
                    color: rgba(255,255,255, 0.3);
                    text-transform: uppercase;
                    font-weight: 600;
                    border-bottom: solid 2px rgba(255,255,255, 0.1);
                    padding: 15px 15px 12px;
                    -moz-transition: all .3s cubic-bezier(.55,0,.1,1);
                    -o-transition: all .3s cubic-bezier(.55,0,.1,1);
                    -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
                    transition: all .3s cubic-bezier(.55,0,.1,1);
                }
                > li > a:hover {
                    color: rgba(255,255,255, 0.8);
                    border-color: rgba(255,255,255, 0.4);
                }
                > li.active > a, > li.active > a:hover, > li.active > a:focus {
                    color: #fff;
                    border-color: #fff;
                    background-color: transparent;
                    border: none;
                    border-bottom: 3px solid;
                }
            }

            .tab-content {
                border-radius:0 0 2px 2px;
                box-shadow: 0 2px 4px rgba(0,0,0, 0.15);
                font-size: 15px;
                line-height:150%;
                padding: 27px 15px 5px;
                background-color: #ffffff;
                .content-heading {
                    font-size: 14px;
                    margin-top: 0;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #474755;
                    span {
                        color: #d0d0d0;
                    }
                    i {
                        color: @main-color;
                        position: relative;
                        bottom: -5px;
                    }
                }
                .btn-print {
                    margin-bottom: 10px;
                }
                p a {
                    color: @additional-color;
                }
                li {
                    i {
                        color: @main-color;
                        position: relative;
                        top: 4px;
                        margin: 0 5px 0 3px;
                    }
                    .socicon {
                        font-size: 16px;
                        margin-right: 7px;
                    }
                }
                .carousel-control {
                    height: 34px;
                    width: 34px;
                    border-radius: 17px;
                    background: #fff;
                    border: 1px solid #afbcc3;
                    opacity: 1;
                    font-size: 12px;
                    line-height: 31px;
                    text-shadow: none;
                    color: #b0bdc4;
                    -moz-transition: all .3s cubic-bezier(.55,0,.1,1);
                    -o-transition: all .3s cubic-bezier(.55,0,.1,1);
                    -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
                    transition: all .3s cubic-bezier(.55,0,.1,1);
                }
                .carousel-control:hover, .carousel-control:active {
                    background: @main-color;
                    border: 1px solid @main-color;
                    color: #fff;
                }
                .left.carousel-control {
                    height: 19px;
                    width: 19px;
                    border-radius: 9px;
                    right: 27px;
                    left: auto;
                    top: 7px;
                    z-index: 10;
                    line-height: 17px;
                }
                .carousel-indicators {
                    right: 50px;
                    top: 3px;
                    bottom: auto;
                    left: auto;
                    width: auto;
                    li {
                        border: 1px solid #adbac2;
                        width: 5px;
                        height: 5px;
                    }
                    .active {
                        border: 1px solid @main-color;
                        width: 7px;
                        height: 7px;
                    }
                }
            }
            .progress {
                border: 2px solid #f4f4f4;
                border-radius: 10px;
                background-color: transparent;
                padding: 1px;
                box-shadow: none;
                margin-bottom: 10px;
                .progress-bar {
                    border-radius: 10px;
                    font-size: 11px;
                    line-height: 13px;
                    background: @main-color;
                    box-shadow: none;
                }
            }
            label {
                font-size: 12px;
                color: #61636d;
                margin: 0 0 0 0;
                font-weight: 600;
            }

            h1, h2, h3, h4, h5, h6 {
                line-height: 150%;
            }
        }
        .tabs-with-content.js-start-animation {
            -webkit-animation: tabs-with-content-animation 1.4s cubic-bezier(.55,0,.1,1) forwards;
            -moz-animation: tabs-with-content-animation 1.4s cubic-bezier(.55,0,.1,1) forwards;
            -o-animation: tabs-with-content-animation 1.4s cubic-bezier(.55,0,.1,1) forwards;
            animation: tabs-with-content-animation 1.4s cubic-bezier(.55,0,.1,1) forwards;
        }
        .tab-content.js-change-animation {
            -webkit-animation: change-page-animation 0.4s cubic-bezier(.55,0,.1,1);
            -moz-animation: change-page-animation 0.4s cubic-bezier(.55,0,.1,1);
            -o-animation: change-page-animation 0.4s cubic-bezier(.55,0,.1,1);
            animation: change-page-animation 0.4s cubic-bezier(.55,0,.1,1);
        }
    }
    *::selection {
        background: #ed8e72;
        color: #fff;
        text-shadow: none;
    }
    *::-moz-selection {
        background: #ed8e72;
        color: #fff;
        text-shadow: none;
    }
    footer {
        color: rgba(255,255,255, 0.3);
        font-size: 12px;
        margin-top: 10px;
    }
}

@import "animation";
@import "inputs_and_buttons";
@import "portfolio";
@import "contacts";
@import "popup";
@import "print";

@media only screen and (max-width : 1200px) {
    .small-avatar-block {
        padding-left: 40px ;
    }
}
@media only screen and (max-width : 992px) {
    .social-buttons {
        text-align: left;
        .btn {
            float: none !important;
            margin: 5px 10px 20px !important;
        }
    }
}
@media only screen and (max-width : 768px) {
    .small-avatar-block, .first_letter {
        display: none;
    }
    .user-main-info {
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
    }
    .social-buttons {
        text-align: center;
    }
}
@media only screen and (max-width : 489px) {
    .nav-tabs li {
        width: 100%;
    }
    .carousel-indicators, .carousel-control {
        margin-top: 30px;
    }
}
@media only screen and (max-width : 320px) {
    
}
@media only screen and (min-width : 768px) {
    .social-buttons {
        text-align: right;
        .btn {
            margin: 35px 0 15px 10px !important;
        }
    }
    .logo-col {
        padding-right: 0;
    }
}
@media only screen and (min-width : 992px) {
    .container {
        padding: 0;
    }
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon/socicon.eot');
    src: url('../fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon/socicon.woff') format('woff'),
         url('../fonts/socicon/socicon.woff2') format('woff2'),
         url('../fonts/socicon/socicon.ttf') format('truetype'),
         url('../fonts/socicon/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}
.socicon {
    font-family: 'socicon' !important;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mdi/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/mdi/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/mdi/MaterialIcons-Regular.woff) format('woff'), url(../fonts/mdi/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
// Rules for sizing the icon.
.material-icons.md-10 {
    font-size: 10px;
}
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}