﻿input:focus, button:focus {
    outline: none !important;
}
.btn {
    border: none;
}
.tabs-with-content {
    .btn {
        padding: 4px 12px;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 25px;

        i {
            top: 4px;
            margin-right: 2px;
            position: relative;
        }
    }
    .btn-primary {
        color: #fff;
       background: #0b97ed;
    }
}
input:not([type='checkbox']), input:not([type='radio']) {
    height: 29px;
}
input:not([type='checkbox']), input:not([type='radio']), textarea.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: none;
    margin-bottom: 10px;
    -moz-transition: all .3s cubic-bezier(.55,0,.1,1);
    -o-transition: all .3s cubic-bezier(.55,0,.1,1);
    -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
    transition: all .3s cubic-bezier(.55,0,.1,1);
    max-width: 100%;
    font-size: 13px;
}

input:not([type='checkbox']):hover, input:not([type='radio']):hover, textarea.form-control:hover{
    border-bottom: 1px solid #808080;
}
input:not([type='checkbox']):focus, input:not([type='radio']):focus, textarea.form-control:focus{
    border-bottom: 1px solid #f6ab13;
    box-shadow: none;
}
textarea.form-control {
    min-height: 90px;
}
