﻿.modal-content {
    border-radius: 0;

    .modal-header {
        border-radius: 0;
        background: #0b97ed;
        color: #fff;

        .close {
            opacity: 1;
            color: #fff;
            text-shadow: none;
        }
    }
    .modal-body {
        margin: -1px 0 0 ;
        padding: 0;
    }
    .modal-footer {
        padding: 0;

        .btn{
            border-radius: 0;
        }
    }
    p {
        padding: 15px 15px;
    }
}