﻿.modal-content {
  border-radius: 0;
}
.modal-content .modal-header {
  border-radius: 0;
  background: #0b97ed;
  color: #fff;
}
.modal-content .modal-header .close {
  opacity: 1;
  color: #fff;
  text-shadow: none;
}
.modal-content .modal-body {
  margin: -1px 0 0;
  padding: 0;
}
.modal-content .modal-footer {
  padding: 0;
}
.modal-content .modal-footer .btn {
  border-radius: 0;
}
.modal-content p {
  padding: 15px 15px;
}
/*# sourceMappingURL=popup.css.map */