﻿.portfolio-page {
    
    .item {
        min-width: 100%;
        position: relative;
        margin: 15px 0;
        overflow: hidden;
        height: 180px;

        img {
            position: absolute;
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }

        .name, .description {
            position: absolute;
            min-width: 100%;
        }

        .name {
            background: #0b97ed;
            min-height: 40px;
            line-height: 40px;
            padding: 0 0 0 10px;
            color: #fff;
            font-weight: 600;
            top: -100%;
            -moz-transition: all .6s cubic-bezier(.55,0,.1,1);
            -o-transition: all .6s cubic-bezier(.55,0,.1,1);
            -webkit-transition: all .6s cubic-bezier(.55,0,.1,1);
            transition: all .6s cubic-bezier(.55,0,.1,1);
        }

        .description {
            background: rgba(255,255,255, 0.95);
            padding: 50px 10px 0;
            min-height: 100%;
            top: 150%;
            -moz-transition: all .8s cubic-bezier(.55,0,.1,1);
            -o-transition: all .8s cubic-bezier(.55,0,.1,1);
            -webkit-transition: all .8s cubic-bezier(.55,0,.1,1);
            transition: all .8s cubic-bezier(.55,0,.1,1);
        }
    }

    .item:hover {
        .name {
            top: 0;
        }

        .description {
            top: 0;
        }
    }
}
