﻿.portfolio-page .item {
  min-width: 100%;
  position: relative;
  margin: 15px 0;
  overflow: hidden;
  height: 180px;
}
.portfolio-page .item img {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
.portfolio-page .item .name,
.portfolio-page .item .description {
  position: absolute;
  min-width: 100%;
}
.portfolio-page .item .name {
  background: #0b97ed;
  min-height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
  color: #fff;
  font-weight: 600;
  top: -100%;
  -moz-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.portfolio-page .item .description {
  background: rgba(255, 255, 255, 0.95);
  padding: 50px 10px 0;
  min-height: 100%;
  top: 150%;
  -moz-transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.8s cubic-bezier(0.55, 0, 0.1, 1);
}
.portfolio-page .item:hover .name {
  top: 0;
}
.portfolio-page .item:hover .description {
  top: 0;
}
/*# sourceMappingURL=portfolio.css.map */