﻿@media print {
  body {
    background: none;
  }
  .footer,
  btn-print,
  .nav-tabs,
  .carousel-control,
  .carousel-indicators,
  .first_letter,
  .social-buttons {
    display: none;
  }
  .small-user-avatar {
    margin: 0;
  }
  .carousel-inner .item {
    display: block;
  }
  .carousel-inner .item img {
    width: 30%;
    float: left;
  }
  .progress .progress-bar {
    background: #000;
    color: #fff;
  }
}
/*# sourceMappingURL=print.css.map */